service vendor.keymint-strongbox /odm/bin/hw/android.hardware.security.keymint-service.strongbox-nxp
    class early_hal
    user vendor_nxp_strongbox
    group vendor_nxp_strongbox
    capabilities WAKE_ALARM
